:root {
    --primary: #ffe690;
    --secondary: #4a2e14;
}


@font-face {
    font-family: Makasih;
    src: url(../images/Makasih.ttf) format("truetype");
}

* {
    font-family: Makasih;
    color: var(--secondary);
    align-self: center;

}

body {
    background-color: lemonchiffon;
    margin: 0;



}

.smoothscrollwrapper {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;

}

.centering {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.noise {
    background-image: url('https://maxrichardo.com/ndogs/images/noise.png');
    background-repeat: repeat;
    background-size: auto;
    z-index: 696969696;
    mix-blend-mode: color-burn;
    background-color: white;
    position: fixed;
    opacity: .2;
    width: 300%;
    height: 300%;
    top: 0;
    pointer-events: none;

}



#logo {
    height: 60px;
    z-index: 70;
    transform: translateY(40%);
    margin-top: -45px;
    transition: all 888ms cubic-bezier(0.075, 0.82, 0.165, 1);

}

#logo:hover {
    height: 88px;

}


.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 22vw);
    margin: 1in 0;
    height: 40vw;

}

.griditem {
    width: 21vw;
    height: 28vw;
    background: rgb(255, 247, 223);
    background: linear-gradient(180deg, rgb(255, 247, 226) 0%, rgb(255, 248, 225) 1%, rgba(255, 255, 187, 1) 100%, rgb(255, 255, 246) 100%, rgb(255, 255, 247) 100%);
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    margin-top: 8vw;
    overflow: hidden;
    border: .1vw solid var(--secondary);
    position: relative;
}

.gbrproduk-container {
    position: absolute;
    width: 110vw;
    margin-top: -5vw;
    margin-left: 88vw;
    overflow: hidden;
    display: flex;
    transition: all 500ms;
}

.juduled{
    position: absolute;
    left: 8vw;

    font-size: 2.5vw;
}


.button-p {
    position: absolute;
    padding: .5vw 1.5vw .5vw .8vw;
    border-radius: 1vw;
    border: .1vw solid var(--secondary);
    background: rgb(255, 225, 144);
    background: linear-gradient(0deg, rgba(255, 225, 144, 1) 0%, rgba(255, 230, 144, 1) 41%, rgba(255, 255, 187, 1) 91%, rgba(255, 255, 198, 1) 100%, rgba(255, 255, 225, 1) 100%);
    text-decoration: none;
    right: 7vw;
    font-size: 1.1vw;
    text-align: right;
}

.gbrproduk {
    width: 22vw;
    position: relative;
    z-index: 1;

}

.gbrproduk:hover {}

.itembot {
    width: 100vw;
    height: 5vw;
    margin-top: 23vw;
    background: rgb(255, 238, 191);
    background: linear-gradient(0deg, rgb(255, 237, 189) 0%, rgb(255, 236, 173) 1%, rgba(255, 255, 187, 1) 100%, rgba(255, 255, 198, 1) 100%, rgba(255, 255, 225, 1) 100%);
    border-top: .1vw solid var(--secondary);
    padding: 0 1vw;
    z-index: 2;
    display: flex;
    transition: all 200ms;
    transition-delay: 100ms;
    margin-right: -21vw;



}

.itembothov:hover {
    margin-right: 18vw !important;
}

.layer1 {
    width: 21vw;
    height: 5vw;
    display: flex;
    padding-left: 1vw;
}

.layer2 {
    width: 21vw;
    height: 5vw;
    padding-top: .8vw;

}


.itemjudul {
    margin-left: 1vw;
    font-size: 1.1vw;
    width: 12vw;
    text-transform: capitalize;
}

.harga {
    margin-top: -.3vw;
    padding: .8vw 1vw;
    background-image: url('https://maxrichardo.com/ndogs/images/crott harga.webp');
    background-size: cover;
    color: rgb(42, 8, 0);
    opacity: .7;
    font-size: 1.1vw;
}

.layer2 a {
    color: var(--secondary);
    text-decoration: none;
    padding: .7vw .9vw;
    border-radius: 50%;
}

.layer2 a:hover {
    background-color: var(--secondary);
    color: #ffe690 !important;
}

.ssz {
    font-size: .9vw;
    margin: 1vw;
}

.ssize-cont {
    margin-top: .75vw;
}

.cancel {
    position: absolute;
    font-size: .69vw;
    margin-bottom: 3vw;
    margin-left: 31vw;
    visibility: hidden;
    z-index: 69;
}

.N1 {
    padding: .6vw .9vw;
    background-color: var(--secondary);
    margin-left: 36vw;
    position: absolute;
    border-radius: 40%;
    color: #ffe690;
    font-size: 2vw;
    text-align: center;
    visibility: hidden;
    text-decoration: none;
}

.N2 {
    padding: .6vw .9vw;
    background-color: var(--secondary);
    margin-left: 14.8vw;
    margin-top: -3vw;
    position: absolute;
    border-radius: 40%;
    color: #ffe690;
    font-size: 2vw;
    text-align: center;
    text-decoration: none;
    transform: rotate(90deg);
    visibility: hidden;

}

.layer3 {
    width: 19vw;
    height: 4.5vw;
    margin-left: 41.5vw;
    padding-top: .4vw;
    margin-top: -0.2vw;
    position: absolute;
    background: rgb(255, 238, 191);
    background: linear-gradient(0deg, rgb(255, 237, 189) 0%, rgb(255, 236, 173) 1%, rgba(255, 255, 187, 1) 100%, rgba(255, 255, 198, 1) 100%, rgba(255, 255, 225, 1) 100%);
    border-top: .1vw solid var(--secondary);
    border-bottom-right-radius: 2vw;
    border-bottom-left-radius: 2vw;
    visibility: hidden;

}

.scolor-cont {
    margin-top: .69vw;
    margin-left: -1vw;
}

.scolor {
    padding: .22vw .64vw;
    text-decoration: none;
    border-radius: 50%;
    margin: .3vw;
    z-index: 69;
    transition: all 100ms;
    border: .15vw solid var(--secondary);
    font-size: 1vw;
}


.scolor:hover {
    border: .3vw solid var(--secondary);
    padding: .28vw .65vw;
}

.scolor3 {
    background-color: skyblue;
    color: skyblue;
}

.scolor4 {
    background-color: chocolate;
    color: chocolate;
}

.scolor5 {
    background-color: yellowgreen;
    color: yellowgreen;
}

.scolor2 {
    background-color: black;
    color: black;
}

.scolor1 {
    background-color: white;
    color: white;
}


.layerfinal {
    position: relative;
    margin-left: 39.5vw;
    margin-top: 13vw;
    -webkit-margin-before: 12vw;
    z-index: 68;
    display: flex;
    justify-content: right;
    transition: all 200ms;
    visibility: hidden;
    pointer-events: all;

}

.layerfinal-container {
    position: absolute;
    pointer-events: none;
    overflow: hidden;
    height: 5vw;
    border-bottom-right-radius: 2vw;
    border-bottom-left-radius: 2vw;

}


.marquee {
    display: flex;
    background: linear-gradient(0deg, rgba(44, 28, 12, 1) 0%, rgba(74, 46, 20, 1) 100%);
    color: var(--primary);
    width: 10.1vw;
    height: 5.1vw;
    border-bottom-right-radius: 2vw;
    overflow: hidden;
    -webkit-margin-before: -.7vw;
    cursor: pointer;
}

.mi {
    font-size: 4.5vw;
    color: #ffe690;
    font-family: gliker;
    white-space: nowrap;
    animation: addtobag 2500ms linear infinite;
    text-shadow: .5vw .5vw rgba(0, 0, 0, .5);
}

@keyframes addtobag {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(-29vw)
    }
}

.finalsize,
.finalclr {
    width: 3.1vw;
    padding: .3vw 1.2vw;
    height: 4.5vw;
    margin-top: 0vw;
    -webkit-margin-before: -.8vw;
    background-color: #ffe690;
    font-size: .9vw;
    text-align: center;
    display: block;
}

.finalsize {
    border-bottom-left-radius: 2vw;
}

.finalselsize {
    font-size: 1.1vw;
    padding: .6vw;
    border-radius: 50%;
    background-color: var(--secondary);
    color: var(--primary);
}

.finalselclr {
    width: 2.5vw;
    height: 2.5vw;
    background-color: white;
    border-radius: 50%;
    border: .2vw solid var(--secondary);
}